.header {
  background-color: #131111;
  padding-top: 13px;
  padding-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo {
  width: 62px;
  height: 30px;
}

.lang_active,
.menu__item_active {
  color: #D8D8D8;
}

.lang:hover {
  color: #D8D8D8;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu__link,
.lang {
  transition: color .3s ease-in-out;
}

.menu__link:hover {
  color: #D8D8D8;
}

.tools {
  display: flex;
  gap: 24px;
  align-items: center;
}

.tools__list {
  display: flex;
  gap: 16px;
}