.slider-block {
  background-color: #131111;
  position: relative;
  padding-bottom: 130px;
}

.promo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.slider-block::after {
  position: absolute;
  content: '';
  background-image: url(../img/red.svg);
  width: 674px;
  height: 634px;
  left: 220px;
  top: 20px;
}

.slider-block::before {
  position: absolute;
  content: '';
  background-image: url(../img/blue.svg);
  width: 878px;
  height: 645px;
  right: 120px;
  top: -50px;
}

.promo__img {
  margin-bottom: 22px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 992px;
  height: 601px;
  background-image: url(../img/hockey.png);
  background-size: 1000px auto;
  background-position: 15% 25%;
  border-radius: 100px 0px;
  z-index: 5;
}

.info {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 270px;
  color: #F5F5F5;
  margin-top: 48px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.proff {
  max-width: 177px;
  margin-bottom: 32px;
}

.play-btn {
  background-image: url(../img/play.svg);
  width: 125px;
  height: 125px;
}

.add-btn {
  background-image: url(../img/add-btn.svg);
  width: 200px;
  height: 200px;
  position: absolute;
  top: -90px;
  right: -125px;
}

.slider__btn {
  position: absolute;
  top: 420px;
  cursor: pointer;
}

.swiper-button-left {
  transform: translateX(350px);
  z-index: 1;
}

.swiper-button-right {
  transform: translateX(1480px);
  z-index: 2;
}