.test-block {
  background-color: #131111;
  padding-bottom: 164px;
}

.test {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test::after {
  position: absolute;
  content: '';
  background-image: url(../img/red-circle.svg);
  width: 568px;
  height: 568px;
  left: 50px;
  top: 270px;
}

.test::before {
  position: absolute;
  content: '';
  background-image: url(../img/blue-circle.svg);
  width: 568px;
  height: 568px;
  right: -180px;
  bottom: -230px;
}

.test__title {
  margin-top: 100px;
  margin-bottom: 24px;
  max-width: 650px;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #F5F5F5;
  text-align: center;
}

.test__text {
  font-size: 18px;
  line-height: 24px;
  color: #D8D8D8;
  margin-bottom: 253px;
}

.test__img {
  margin-bottom: 22px;
}

.test__link {
  align-self: flex-end;
  margin-right: 132px;
  z-index: 20;
}

.test-block__img {
  position: absolute;
  width: 1050px;
  height: auto;
  top: 295px;
  left: 50px;
  z-index: 10;
}